node_modules
gotube.test
mongo/mongo.test
rest/rest.test
auth/auth.test
web/npm-debug.log
web/test-results.xml
client/gtput/gtput.test
bower_components
src
pkg
*~
*.swp
test-data
web/app/direct
web/cobertura
web/coverage
