<div class="container">
  <h2>Edit video details</h2>
  <div class="form-group">
    <label >Title</label><input data-ng-model="video.Name" class="form-control" type="TEXT" />
  </div>
  <div class="form-group">
    <label >Description</label><TEXTAREA data-ng-model="video.Desc" class="form-control" ></TEXTAREA>
  </div>
  <div class="form-group">
    <label >Public</label><input data-ng-model="video.Public" class="form-control" type="checkbox" />
  </div>
  <button id="save-button" class="btn btn-info" data-ng-click="save()" >Save</button>
</div>
