<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{{username}}s videos</h2>
    </div>
    <div class="panel-body">
      <ul class="videos">
        <li ng-repeat="video in videoList">
        <a href="/#/view/{{video.Id}}/{{video.BlobId}}">{{video.Name}}</a>
        <a href="/#/remove/{{video.Id}}">Remove</a>
        </li>
      </ul>
      <a id="upload" class="btn btn-success" href="/#/upload">Upload</a>
    </div>
  </div>
</div>
