<div class="hero-unit">
  <h1>Gotube</h1>
  <p>Upload video</p>
  <label accesskey="t" for="title">Title<label><input id="title" ng-model="title" type="TEXT" />
  <label accesskey="d" for="description">Description<label><TEXTAREA id="description" ng-model="description" type="TEXT" />
  <button class="btn" ng-click="save()" >Save</button>


<!DOCTYPE html>
<div ng-flow-init>
<div class="container">

  <video>
  <source src="/serve?filename=962_Debian-LAN.ogv" type='video/ogg' />
</video>
  <div class="row">
      <h2>Buttons:</h2>

      <button class="btn" ng-flow-btn><i class="icon icon-file"></i>Upload File</button>
      <button class="btn" ng-flow-btn ng-directory><i class="icon icon-folder-open"></i>Upload
        Folder
      </button>
    </div>
  </div>
  <hr class="soften">

  <h2>Transfers:</h2>

  <p>
    <a class="btn btn-small btn-success" ng-click="$flow.upload()">Upload</a>
    <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause</a>
    <a class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel</a>
    <span class="label label-info">Size: {{$flow.getSize()}}</span>
    <span class="label label-info">Is Uploading: {{$flow.isUploading()}}</span>
  </p>
  <table class="table table-hover table-bordered table-striped" ng-flow-transfers>
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Size</th>
      <th>Relative Path</th>
      <th>Unique Identifier</th>
      <th>#Chunks</th>
      <th>Progress</th>
      <th>Paused</th>
      <th>Uploading</th>
      <th>Completed</th>
      <th>Settings</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="file in transfers">
      <td>{{$index+1}}</td>
      <td>{{file.name}}</td>
      <td>{{file.size}}</td>
      <td>{{file.relativePath}}</td>
      <td>{{file.uniqueIdentifier}}</td>
      <td>{{file.chunks.length}}</td>
      <td>{{file.progress()}}</td>
      <td>{{file.paused}}</td>
      <td>{{file.isUploading()}}</td>
      <td>{{file.isComplete()}}</td>
      <td>
        <div class="btn-group">
          <a class="btn btn-mini btn-warning" ng-click="file.pause()" ng-hide="file.paused">
            Pause
          </a>
          <a class="btn btn-mini btn-warning" ng-click="file.resume()" ng-show="file.paused">
            Resume
          </a>
          <a class="btn btn-mini btn-danger" ng-click="file.cancel()">
            Cancel
          </a>
          <a class="btn btn-mini btn-info" ng-click="file.retry()" ng-show="file.error">
            Retry
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <hr class="soften"/>

  <div class="alert" ng-flow-drop ng-drag-over-class="alert-success">
    Drag And Drop your file here
  </div>
</div>

  <div>Video id: {{videoId.id}}</div> 
  <div class="success">{{message}}</div> 
</div>
