<div class="panel">
  <div class="container">
    <div class=row>
      <h2>Upload video</h2>
      <label accesskey="t" for="name">Title</label><input ng-model="name" type="TEXT" />
      <label accesskey="d" for="desc">Description</label><TEXTAREA id="desc" ng-model="desc" type="TEXT" />
      </div>

      <div ng-flow-init="{}" ng-file-added="fileAdded($file, $event)" ng-file-success="success()" ng-flow-name="obj.flow" >
        <div class="row">
          <input id="file-input-id" type="FILE" class="btn" ng-flow-btn><i class="icon icon-file"></i>
        </div>
        <hr class="soften">
        <div class="row">
          <p>
          <a id="upload" class="btn btn-small btn-success" ng-click="addFile()">Upload</a>
          <a class="btn btn-small btn-danger" ng-click="pause()">Pause</a>
          <a class="btn btn-small btn-info" ng-click="obj.flow.cancel()">Cancel</a>
          <span class="label label-info">Size: {{obj.flow.getSize()}}</span>
          <span class="label label-info">Is Uploading: {{obj.flow.isUploading()}}</span>
          </p>
          <table class="table table-hover table-bordered table-striped" ng-flow-transfers>
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Paused</th>
                <th>Uploading</th>
                <th>Completed</th>
                <th>Settings</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="file in transfers">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.size}}</td>
                <td>{{file.progress()}}</td>
                <td>{{file.paused}}</td>
                <td>{{file.isUploading()}}</td>
                <td>{{file.isComplete()}}</td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-mini btn-warning" ng-click="file.pause()" ng-hide="file.paused">
                      Pause
                    </a>
                    <a class="btn btn-mini btn-warning" ng-click="file.resume()" ng-show="file.paused">
                      Resume
                    </a>
                    <a class="btn btn-mini btn-danger" ng-click="file.cancel()">
                      Cancel
                    </a>
                    <a class="btn btn-mini btn-info" ng-click="file.retry()" ng-show="file.error">
                      Retry
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr class="soften"/>
    </div>
  </div>
