body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}
.view-animate-container {
  position:relative;
  height:100%;!important;
  position:relative;
}
 
.view-animate {
  padding:0px;
}
 
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
 
  display:block;
  width:100%; border-left:1px solid black;
 
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0px;
}
 
.view-animate.ng-enter {
  left:100%;
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
  opacity: 0;
}
